.home-about {
  max-width: 1212px;
  width: 100%;
  margin-inline: auto;
  padding-block: 164px 108px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  .text-content {
    h3 {
      color: #ba936f;
      font-family: "Lora", serif;
      font-size: 35px;
      font-weight: 400;
      line-height: 44.8px;
      text-transform: uppercase;
    }
    p {
      padding-top: 30px;
      color: #343434;
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
