.home-hero {
  background-image: url("../../assets/images/heroImg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-position: center;
  position: relative;
  @media (max-width: 768px) {
    align-items: flex-end;
    background-position: 75% 100%;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      258.12deg,
      rgba(0, 0, 0, 0) 62.29%,
      rgba(0, 0, 0, 0.59) 71.91%,
      #000000 100%
    );
    z-index: 0;
  }
  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
    @media (max-width: 768px) {
      padding-bottom: 80px;
    }
    h1 {
      max-width: 442px;
      width: 100%;
      font-family: "Lora", serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 64px;
      color: #ffffff;
      text-transform: capitalize;
      @media (max-width: 768px) {
        max-width: 75%;
        font-size: 35px;
        line-height: 44px;
      }
    }
    .anchor-link {
      margin-top: 70px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;
      padding-left: 50px;
      width: fit-content;
      cursor: pointer;
      @media (max-width: 768px) {
        display: none;
      }
      .hero-circle {
        position: absolute;
        left: 0;
        @media (max-width: 768px) {
          display: none;
        }
      }
      span {
        color: #ffffff;
        font-family: "Lora", serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
      }
    }
  }
  .hero-logo {
    position: absolute;
    bottom: -100px;
    left: 0px;
    max-width: 340px;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
